# Getting the Data Type

In [2]:
# you can get the data type of any object by using the type() function:
# Print the data type of the variable x:
x = 5
print(type(x))

<class 'int'>

In [3]:
x = "Hello World"
print(type(x))b

<class 'str'>

# Python Numbers

In [32]:
# There are three numeric types in Python
# int, float, complex
# variables of numeric types are created when you assign a value to them
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [33]:
# to verify the type of any object in Python, use the type() function
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
x = 20.5
print(type(x))

<class 'float'>

# Int

### Int, or integer is a whole number, positive or negative, without decimals, of unlimited length

In [38]:
# Integers
x = 1
y = 35645728839999337211
z = -32555125

print(type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float

### Float, or Floating point number is a number, positive or negative, containing one or more decimals

In [41]:
# Floats
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print (type(y))
print (type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [43]:
# Float can also be scientific numbers with an "e" to indicate the power of 10

x = 35e3
y = 12e4
z = -87.7e100

print(type(x))
print (type(y))
print (type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex

### Complex numbers are written with a "j" as the imaginary part

In [46]:
# Complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print (type(y))
print (type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

### You can convert from one type to another with the int(), float() and complex()

In [50]:
# convert from one type to another
x = 1
y = 2.8
z = 1j

# convert from int to float
a = float(x)

# convert from float to int
b = int(y)

# convert from int to complex
c = complex()

print(a)
print(b)
print(c)

1.0
2
0j

In [51]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

In [52]:
# Note (you can not convert complex numbers into another number type)

# Random Number

### Python doesnot have a random() function to make a random number, but it has a built-in modeule called random that can be used to make random numbers

In [55]:
# Import the random module, and display a random number between 1 and 9
import random
print(random.randrange(1, 10))

9

# Exercises

In [6]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [7]:
x = {"name": "John", "age": 36}
print(type(x))

<class 'dict'>

In [8]:
x = True
print(type(x))

<class 'bool'>

In [11]:
# insert the correct syntax to convert x into a floating point number
x = 5
x = float(x)

In [12]:
# Insert the correct syntax to convert x into a integer
x = 5.5
x = int(x)

In [13]:
# insert the correct syntax to convert x into a complex number
x = 5
x = complex(x)

In [15]:
# use the 'len' method to print the length of the string
x = "Hello World"
print(len(x))

11

In [17]:
# Get the first character of the string 'txt'
txt = "Hello World"
x = txt[0]
print (x)

H

In [18]:
# Get the second character of the string 'txt'
txt = "Hello World"
x = txt[1]
print (x)

e

In [20]:
# Get the last character of the string 'txt'
txt = "Hello World"
x = txt[10]
print (x)

d

In [25]:
# Get the characters from Index 2 to index 4 (llo)
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [28]:
# Run the string without any whitespace at the beginning or the end
txt = "Hello World"
x = txt.strip()
print(x)

Hello World