# Python Booleans

In [2]:
# Booleans represent one of two values: True or False

### Boolean Values

In [4]:
# Example
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [5]:
# when you run a condition in an if statement, Python returns True or False
# Print a message based on whether the condition is True or False
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [6]:
a = 22
b = 356

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

### Evaluate Values and Variables

In [8]:
# The bool() function allows you to evaluate any value, and give you True or False in return
# Evaluate a string and a number
print(bool("Hello"))
print(bool(15))

True
True

In [9]:
# Evaluate two variables
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

In [15]:
# Almost any value is evaluated to "True" if it has some sort of content
# any string is "true", except emplty strings
# any number is "true", except 0
# any list, tuple, set, and dictionary are "true", except empty ones
bool("")
bool(0)

False

In [12]:
# Example: The following will return True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

### Some values are False

In [17]:
# the following will return False
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [18]:
# One more value, or object in this case, evaluates to "False", and that is if you have an object 
# that is made from a class with a "_len_" function that returns "0" or "False"

In [20]:
# Example
class myclass():
    def _len_(self):
        return 0

myobj = myclass()
print(bool(myobj))

True

### Functions can return a boolean

In [22]:
# create a function that returns a Boolean Value
def myFunction():
    return True

print(myFunction())

True

In [23]:
def myFunction():
    return False

print(myFunction())

False

In [24]:
# YOu can execute code based on the Boolean answer of a function
# Print "Yes!" if the function returns True, otherwise print "NO!"
def myFunction():
    return True
if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [25]:
# "isinstance()" also a boolean function 
# can also be used to determine if an object is of certain data type

In [26]:
# Example
# Check if an object is an integer or not
x = 200
print(isinstance(x, int))

True

In [28]:
x = "Hello"
print(isinstance(x, str))

True

In [29]:
x = 200
print(isinstance(x, str))

False

In [30]:
# Exercise
# The statement below would print a Boolean value, which one?
print(10 > 9)

True

In [31]:
# The statement below would print a Boolean value, which one?
print(10 == 9)

False

In [32]:
# The statement below would print a Boolean value, which one?
print(10 < 9)

False

In [33]:
# The statement below would print a Boolean value, which one?
print(bool("abc"))

True

In [34]:
# The statement below would print a Boolean value, which one?
print(bool(0))

False

# Python Operators

### Arithmetic Operators

In [37]:
# Operators are used to perform operations on variables and values
# plus + operator
print(10 + 5)

15

In [35]:
# Multiply 10 with 5, and print the result
print(10 * 5)

50

In [42]:
# Division / operator
x = 12
y = 6 
x / y

2.0

In [38]:
# Modulus % operator 
x = 5
y = 6 
x % y

5

In [40]:
# Exponentiation ** 
x = 2
y = 2 
x ** y

4

In [41]:
# Floor division //
x = 10
y = 5 
x // y

2

### Python Assignment Operators

In [45]:
# = operator 
x = 5  # Example x = 5
x = 5  # Same As x = 5

In [47]:
x += 3  # same As x = x + 3
x -= 3   # same As x = x - 3
x *= 3   # same As x = x * 3
x /= 3   # same As x = x / 3

In [52]:
x = 5
x %= 3  # same As x = x % 3
x //= 3  # same As x = x // 3
x **= 3   # same As x = x ** 3
x &= 3    # same As x = x & 3
x |= 3    # same As x = x | 3
x ^= 3    # same As x = x ^ 3
x >>= 3    # same As x = x >> 3
x <<= 3    # same As x = x << 3

In [57]:
x %= 3
print(x)

2

### Python Comparison Operators

In [59]:
# used to compare two values
x = 5
y = 4
x == y

False

In [60]:
x != y # not equal

True

In [61]:
x > y # greater than

True

In [62]:
x < y  # less than

False

In [63]:
x >= y   # Greater than or equal to
# returns true because five is greater, or equal to 4

True

In [64]:
x <= y   # less than or equal to 
# returns False because 5 is neither less than or equal to 4

False

### Python Logical Operators

In [68]:
# logical operators are used to combine conditional statments
# AND operator returns "True" if both statements are true
x = 3
x < 5 and x < 10

True

In [69]:
x = 5
print(x > 3 and x < 10)

True

In [70]:
# OR operator
# returns True if one of the statements is true
x = 5
print(x > 3 or x < 4)

True

In [71]:
# NOT operator
# reverse the result, returns False if the result is true
x = 5
print(not(x > 3 and x < 10))
# it will give False, because NOT is ysed to reverse the result

False

### Python Identity Operators

In [73]:
# identity operators are used to compare the objects, 
# not if they are equal, but if they are actually the same object,
# with the same memory location

In [75]:
# IS operator returns TRUE if both variables are the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)

True

In [76]:
print(x is y)

False

In [77]:
print(x == y)

True

In [78]:
# IS NOT operator returns TRUE if both variables are not the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)

False

In [79]:
print(x is not y)

True

In [80]:
print(x != y)

False

### Python Membership Operators

In [83]:
# IN operator returns TRUE 
# if a sequence with the specified value is present in the object
x = ["apple", "banana"]
print("banana" in x)
# returns TRUE because a sequence with the value "banana" is in the list

True

In [84]:
# NOT IN operator returns TRUE 
# if a sequence with the specified value is not present in the object
x = ["apple", "banana"]
print("pineapple" not in x)
# will return TRUE because a sequence with the value "pineapple" is not in the list

True

In [85]:
# Exercise
# Multiply 10 with 5 and print the result
print(10 * 5)

50

In [86]:
# Divide 10 by 2 and print the result
print(10 / 2)

5.0

In [89]:
# use the correct membership operator to check if "apple" is present in the "fruits" object
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [90]:
# use the correct comparison operator to check if 5 is not equal to 10
if 5 != 10:
    print("5 and 10 is not equal")

5 and 10 is not equal

In [93]:
# use the correct logical operator to check if at least one of the two statements is "TRUE"
if 5 == 10 or 4 == 4:
    print("At least one of the statements is true")

At least one of the statements is true