# Python Tuples

In [2]:
# tuples are used to store multiple items in a single variable
# A tuple is a collection which is ordered and unchangeable
# Tuples are written with round brackets

In [3]:
# create a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Items

In [5]:
# Tuple items are ordered, unchangeable, and allow duplicate values
# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered

In [7]:
# When we say that tuples are ordered, 
# it means that the items have a defined order, 
# and that order will not change

### Unchangeable

In [9]:
# Tuples are unchangeable, meaning that we cannot change, 
# add or remove items after the tuple has been created

### Allow Duplicates

In [11]:
# Since tuples are indexed, they can have items with the same value

In [13]:
# tuples allow duplicate values
thistuple = ("apple", "banana", "cherry", "apple", "banana")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'banana')

### Tuple Length

In [17]:
# To determine how many items a tuple has, use the len() function
# Print the number of items in the tuple
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

### Create Tuple with one item

In [20]:
# To create a tuple with only one item, you have to add a comma after the item, 
# otherwise Python will not recognize it as a tuple
# One item tuple, remember the comma
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [21]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

### Tuple Items - Data Types

In [23]:
# Tuple items can be of any data type
# String, int and boolean data types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 4, 5, 7)
tuple3 = (True, False, False)

In [24]:
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 4, 5, 7)
(True, False, False)

In [25]:
# A tuple can contain different data types
# A tuple with strings, integers and boolean values
tuple1 = ("abc", 24, True, 37, "male")
print(tuple1)

('abc', 24, True, 37, 'male')

### type()

In [27]:
# From Python's perspective, tuples are defined as objects with the data type 'tuple'
# What is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

### The tuple() Constructor

In [29]:
# It is also possible to use the tuple() constructor to make a tuple
# Using the tuple() method to make a tuple
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

### Access Tuple Items

In [32]:
# You can access tuple items by referring to the index number, inside square brackets
# Print the second item in the tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Negative Indexing

In [34]:
# Negative indexing means start from the end
# -1 refers to the last item, -2 refers to the second last item etc
# Print the last item of the tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes

In [36]:
# You can specify a range of indexes by specifying where to start and where to end the range
# When specifying a range, the return value will be a new tuple with the specified items
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
# Return the third, fourth, and fifth item
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [37]:
# This example returns the items from the beginning to, but NOT included, "kiwi"
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [38]:
# By leaving out the end value, the range will go on to the end of the list
# This example returns the items from "cherry" and to the end
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes

In [40]:
# Specify negative indexes if you want to start the search from the end of the tuple
# This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Check if item exists

In [43]:
# to determine if a specified item is present in a tuple use the in keyword
# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Python Update Tuples

In [2]:
# Tuples are unchangeable, meaning that you cannot change, add, or remove items 
# once the tuple is created
# But there are some workarounds

### Change Tuple Values

In [4]:
# Once a tuple is created, you cannot change its values
# Tuples are unchangeable, or immutable as it also is called
# But You can convert the tuple into a list, change the list, 
# and convert the list back into a tuple

In [5]:
# Example - Convert the tuple into a list to be able to change it
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [6]:
x = ("onion", "potato", "chillies")
y = list(x)
y[2] = "lemon"
x = tuple(y)
print(x)

('onion', 'potato', 'lemon')

### Add Items

In [8]:
# Since tuples are immutable, they do not have a build-in append() method
# but there are other ways to add items to a tuple

### 1. Convert into a list

In [10]:
# Just like the workaround for changing a tuple
# you can convert it into a list, add your item(s), and convert it back into a tuple
# Example - Convert the tuple into a list, add "orange", 
# and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Add Tuple to a Tuple

In [12]:
# You are allowed to add tuples to tuples,
# so if you want to add one item, (or many)
# create a new tuple with the item(s), and add it to the existing tuple

In [13]:
# Example - Create a new tuple with the value "orange", and add that tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [14]:
# Example - Convert the tuple into a list, remove "apple", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [18]:
# Or delete the tuple completely
# The del keyword can delete the tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) # this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Python - Unpack Tuples

### Unpacking a Tuple

In [21]:
# When we create a tuple, we normally assign values to it. 
# This is called "packing" a tuple
# Example - Packing a tuple
fruits = ("apple", "banana", "cherry")

In [22]:
# But, in Python, we are also allowed to extract the values back into variables. 
# This is called "unpacking"
# Example - Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk *

In [24]:
# If the number of variables is less than the number of values, 
# you can add an * to the variable name and the values will be assigned to the variable as a list
# Example - Assign the rest of the values as a list called "red"
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [25]:
# If the asterisk is added to another variable name than the last
# Python will assign values to the variable until the number of values left matches the number of variables left
# Example - Add a list of values the "tropic" variable
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Python - Loop Tuples

### Loop Through a Tuple

In [3]:
# You can loop through the tuple items by using a "for" loop
# Example - Iterate through the items and print the values
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

### Loop through the index numbers

In [5]:
# You can also loop through the tuple items by referring to their index number
# Use the range() and len() functions to create a suitable iterable
# Example - Print all items by referring to their index number
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

### Using a While Loop

In [7]:
# You can loop through the list items by using a while loop
# Use the len() function to determine the length of the tuple,
# then start at 0 and loop your way through the tuple items by refering to their indexes
# Remember to increase the index by 1 after each iteration

In [8]:
# Print all items, using a "while" loop to go through all the index numbers
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry